{%extends 'base.html'%}
{%block title%}Pallete {{file_name}}{%endblock%}
{%from 'bootstrap5/form.html' import render_form%}

{%block content%}
<div class="container text-center my-5">
    {%if file_name%}
    <h1>Palette of 10 most appearing colors in: {{file_name}}</h1>
    {%endif%}

    {% if color_list%}
    <table class="table table-bordered border-dark table-striped-columns my-4">
        <thead class="table-dark">
        <tr>
            <th scope="col">Color</th>
            <th scope="col">Color RGB</th>
            <th scope="col">Color hex</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {%for color in color_list%}
        <tr>
            <td style="background-color:{{color['hex']}}"></td>
            <td>{{color['rgb']}}</td>
            <td>{{color['hex']}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <a href={{url_for('home')}} class="btn btn-primary">Process another file</a>
    {%endif %}
</div>
{%endblock%}